.day-theme {
  background-color: #caf0f8;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: #3192bf;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 108, 0.08);
  border-radius: 16px;
  padding: 30px;
}

.weather-app-city {
  margin: 0;
  font-size: 55px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 20px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #fb5607;
}

.weather-app-icon {
  width: 80px;
  height: 88px;
}

.weather-app-temperature-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-app-temperature {
  font-size: 75px;
  line-height: 88px;
  font-weight: bold;
  display: inline-block;
}

.weather-app-unit {
  display: inline-block;
  margin-top: 6px;
  margin-left: 10px;
  font-size: 30px;
}

header {
  border-bottom: 1px solid #caf0f8;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #d3f3f9;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 17px;
  padding: 15px 20px;
}

.search-form-button {
  background: linear-gradient(to left, #0066ff 0%, #99ccff 100%);
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.search-form-button:hover {
  opacity: 0.9;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.celsius-temp,
.fahrenheit-temp {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  text-decoration: none;
}

.celsius-temp:hover,
.fahrenheit-temp:hover {
  text-decoration: underline;
}

.celsius-temp.active,
.fahrenheit-temp.active {
  font-weight: bold;
}

/* NIGHT THEME */
.night-theme {
  background-color: navy;
  color: whitesmoke;
}

.night-theme .weather-app {
  background: rgb(62, 26, 192);
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 108, 0.08);
  border-radius: 16px;
  padding: 30px;
}

.night-theme .search-form-button {
  background: linear-gradient(to right, #9999ff 30%, #000099 100%);
}

.night-theme .search-form-input {
  background-color: darkblue;
  color: whitesmoke;
}

.night-theme .weather-app-data,
.night-theme .weather-app-details,
.night-theme footer {
  color: whitesmoke;
}

/* FOOTER */
footer {
  border-top: 1px solid #caf0f8;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
